.metadata/
target/
ehcache.disk.store.dir/
*.log
Servers/
.svn
bin/
.settings/
.gradle/
.classpath
.project
.recommenders/
.springBeans
RemoteSystemsTempFiles/
test-output/
*.exe
node_modules/
.idea/
*.iml
atlassian-ide-plugin.xml
/build/
git.properties