<html>
<head>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />

 <link th:href="@{/webjars/bootstrap-social/4.9.0/bootstrap-social.css}"
      rel="stylesheet" media="screen" />
s
</head>
<body>

<table style="border-collapse: separate; border-spacing: 2px">
    <tr>
        <td><a th:href="@{/auth/facebook}" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Facebook</a></td>
    </tr>
</table>
</body>

</html>