<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
 <link th:href="@{/webjars/bootstrap-social/4.9.0/bootstrap-social.css}"
      rel="stylesheet" media="screen" />
       <link th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.css}"
      rel="stylesheet" media="screen" />
</head>
<body>
<section layout:fragment="content">
	<h1>YtBullet</h1>
	<p>View youtube videos with your friends</p>
	<p>Login: </p>
	<table style="border-collapse: separate; border-spacing: 2px">
	    <tr>
	        
	    </tr>
	    <tr>
	        <td><a th:href="@{/auth/linkedin}" class="btn btn-block btn-social btn-linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></td>
	        <td><a th:href="@{/auth/facebook}" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Facebook</a></td>
	    </tr>
	    <tr>
	        <td><a th:href="@{/auth/twitter}" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i>Twitter</a></td>
	        <!-- <td><a th:href="@{/auth/live(scope='wl.signin,wl.basic')}" class="btn btn-block btn-social btn-microsoft"><i class="fa fa-microsoft"></i>Microsoft</a></td> -->
	    </tr>
	    <tr>    
	        <td><a th:href="@{/auth/github}" class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i>Github</a></td>
	        <td><a th:href="@{/auth/google(scope='profile')}" class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i>Google+</a></td>
	    </tr>
	</table>
	<p>It may not work because of some browser-extensions like <i>PopOut Youtube Video</i>.</p>
</section>
</body>
</html>