
#container {
	width: 100%;
	height: 100%;
}
#overlay {
	float: left;
    width: 80%;
    height: 100%;
}

#participants {
	float: left;
	width: 20%;
    height: 80%;
}

#controlls {
	top: 80%;
	float: left;
	width: 20%;
	height: 20%;
}

#overlay .bullet {
    position:absolute;
    color: yellow;
    font-size: large;
    top: 200px;   
    left: 100px;
    z-index: 10000;
}