<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
    
</head>
<body>
<section layout:fragment="content">
	<p>Menu</p>
	<p>Logged in as <span th:text="${user}">USER</span></p>
	<form action="/room/new" method="post">
	<input type="text" name="id" placeholder="youtube-id" />
	<input type="hidden" name="provider" value="YOUTUBE" /> 
	<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
	<input type="submit" value="create" />
	</form>
	 
	 <p> add this Bookmarklet to your toolbar. When you decide to watch a youtube video on YtCoop, just open the video on youtube and click on the bookmarklet.<br />  
	 <a href="javascript:location='http://ytcoop.herokuapp.com/'+location.href.replace(/http.*www\./g, '')">&#x1f4fa; YtCoop</a>
	 </p>
</section>
</body>
</html>