<html>
<head>
    <title>ytCoop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />


</head>
<body>
<p>Menu</p>
<p>Logged in as <span th:text="${user}">USER</span></p>
<form action="/room/new" method="post">
<input type="text" name="name" placeholder="room-name" />
<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
<input type="submit" value="create" />
</form>
 
 
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
        
</body>
</html>